@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Regular'), url('//bertball.com/fonts/OpenSans-Regular.svg') format('svg'), url('//bertball.com/fonts/OpenSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), url('//bertball.com/fonts/OpenSans-Light.svg') format('svg'), url('//bertball.com/fonts/OpenSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Open Sans Bold'), url('//bertball.com/fonts/OpenSans-Semibold.svg') format('svg'), url('//bertball.com/fonts/OpenSans-Semibold.woff') format('woff');
}